<p></p>


<input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
<button  mat-raised-button color="primary" type="button" (click)="file.click()">Verify file extension</button>
<p></p>


<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> 
          
        <span>Number of extensions recognized : {{ extensions.length }} </span>
         </mat-panel-title>
      <mat-panel-description>
        Click to see the {{ extensions.length }} extensions 
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ul>
        <li *ngFor="let element of extensions">{{element}}</li>
      </ul>
    
  </mat-expansion-panel>
</mat-accordion>


<i>
Help Needed 
</i>
Please help by making a PR by adding files to be tested to <a href='https://github.com/ignatandrei/FileExtension/tree/master/src/TestFileExtensions/TestFiles' target="_blank"> 
https://github.com/ignatandrei/FileExtension/tree/master/src/TestFileExtensions/TestFiles</a>